<div class="container pt-4">
<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

    <div class="field">
      <%= f.label :email %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <div class="field">
      <%= f.label :name, "Nombre" %>
      <%= f.text_field :name, autocomplete: "name" %>
    </div>

    <div class="field">
      <%= f.label :sex, "Genero" %>
      <%= f.radio_button :sex, options_for_select([['Hombre', 1], ['Mujer', 2] ]),{ include_blank: true } %>

    <div class="field">
      <%= f.label :photo,"Foto de perfil" %>
      <%= f.file_field :photo %>
    </div>

    <div class="field">
      <%= f.label :age,"Edad" %>
      <%= f.number_field :age %>
    </div>

    <div class="field">
      <%= f.label :family_id,"Familia" %>
      <%= f.select :family_id, options_for_select( Family.all.collect {|fa| [ fa.name, fa.id ] } ),{ include_blank: true } ,class: "familias" %>
    </div>

    <div class="field">
      <%= f.label :physical_activity_level,"Actividad fisica" %>
      <%= f.select :physical_activity_level, options_for_select([['Sedentario (Sin actividad fisica)', 1], ['Intensidad media de deporte (2 - 3 veces a la semana)', 2], ['Intensidad alta de deporte (5 -7 veces por semana)', 3] ]),{ include_blank: true } %>
    </div>

    <div class="field">
      <%= f.label :height,"Estatura" %>
      <%= f.number_field :height %>
    </div>

    <div class="field">
      <%= f.label :weight,"Peso" %>
      <%= f.number_field :weight %>
    </div>

  <div class="field">
    <%= f.label :password,"Contraseña nueva" %> <i>(leave blank if you don't want to change it)</i>
    <%= f.password_field :password  %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, "Confirmar contraseña" %>
    <%= f.password_field :password_confirmation  %>
  </div>

  <div class="field">
    <%= f.label :current_password, "Contraseña actual" %> <i>(we need your current password to confirm your changes)</i>
    <%= f.password_field :current_password, autocomplete: "current-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Actualizar" , class: "btn btn-primary" %>
  </div>
<% end %>

<h4>Cerrar mi cuenta</h4>

<p>¿Estas seguro? <%= button_to "Cerrar mi cuenta", registration_path(resource_name), data: { confirm: "¿Estas seguro?" }, method: :delete, class: "btn btn-primary" %></p>

<%= link_to "Atras", :back %>
</div>
