
<% if user_signed_in? %>
  <%= render'families/banners' %>
  <div class="container pt-4">

    <p id="notice"><%= notice %></p>


    <% @families.each do |family| %>
      <div class="row">
        <div class="col-lg col-md-12">
          <h2><%= family.name %></h2><br>
          <img src="<%= family.photo %>" style="width:100px;"> </div>
          <div class="col">  <%= link_to 'Show', family %> </div>
          <div class="col">  <%= link_to 'Edit', edit_family_path(family) %> </div>
          <div class="col">  <%= link_to 'Destroy', family, method: :delete, data: { confirm: 'Are you sure?' } %> </div>
      </div>
    <% end %>

    <div class="row">
      <%= link_to 'New Family', new_family_path %>
    </div>

    <div class="row">
    <h1>Usuarios</h1>
    </div>

    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-lg-2 col-md-12">Foto</div>
          <div class="col-lg-3 col-md-12">Caracteristicas</div>
          <div class="col-lg-4 col-md-12">Calorias</div>
          <div class="col-lg col-md-12">IMC</div>
        </div>
      </div>
    </div>


    <!--iniciousuarios-->
    <% @users.each do |user| %>
    <!--iniciocard-->
    <div class="card">
      <!--iniciocardbody-->
      <div class="card-body">
        <!--iniciorow-->
        <div class="row">
          <!--iniciocaracteristicas-->
          <div class="col-lg-2 col-md-12">
            <img src="<%= user.photo.thumb %>" style="width:150px;">
          </div>
          <div class="col-lg-3 col-md-12">
            <%# if can?(:read, user) %>
            <h4><%= user.name %></h4> <br>
            <%= user.id %> id<br>
            <%= user.age %> años<br>
            <%= user.weight %> kilogramos<br>
            <%= user.height %> centimetros<br>
            <%= user.physical_activity_level %><br>
            <%= user.daily_carbohydrates %> grs<br>
            <%= user.email %><br>
            <%= link_to 'Edit', edit_user_path(user) %><br>
            <%# end %>
          </div>
          <!--fincaracteristicas-->
          <!--iniciocalorias-->
          <div class="col-lg-4 col-md-12">

            <canvas data-calorie= "<%= user %>"  id="pie-chart<%= user.id %>"></canvas>
            <script>
              new Chart(document.getElementById("pie-chart<%= user.id %>"), {
              type: 'pie',
              data: {
              labels: ["Calorias necesarias", "Calorias consumidas"],
              position: 'top',
              datasets: [{
              backgroundColor: ["#0079c8", "#00335b"],
              data: [<%= user.daily_calories %>,<%= user.foods.sum(:calorie) %>]
              }]
              },
              options: {
              legend: {
              display: true,
              position: 'top',
              }}
              });
            </script>
          </div>
          <!--fincalorias-->
          <!--iniciobarraimc-->
          <div class="col-lg col-md-12">
            <h3>IMC = <%= user.imc %></h3>
            <% if user.imc != nil %>
              <% if user.imc <= 18 %>
                <p> Desnutrido </p>
                <div class="progress">
                  <div class="progress-bar bg-warning" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <p>Usted esta en rango de desnutrición, contacte al medico de su consultorio más cercano</p>
              <% elsif user.imc > 18 && user.imc < 25 %>
                <p> Normal </p>
                <div class="progress">
                  <div class="progress-bar bg-success" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <p>Felicidades usted tiene un risego cardiovascular bajo</p>
              <% elsif user.imc >= 25 && user.imc <= 30 %>
                <p>Sobrepeso</p>
                <div class="progress">
                  <div class="progress-bar bg-warning" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <p>Usted esta en rango de sobrepeso, contacte al medico de su consultorio más cercano</p>
              <% elsif user.imc > 30 %>
                <p>Obesidad</p>
                <div class="progress">
                  <div class="progress-bar bg-danger" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <p>Usted esta en rango de obesidad, contacte al medico de su consultorio más cercano</p>
              <% end %>
            <% end %>
            </div>
          </div>
          <!--finbarraimc-->
          <!--iniciomodal-->
          <div class="row">
            <div class="col">
              <%= link_to 'Nuevo alimento', new_family_path,  { 'data-toggle' =>  "modal", 'data-target' => "#modal-window-#{user.id}", class: 'btn btn-primary mr-3'}  %>
              <div id="modal-window-<%=user.id%>" class="modal" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title">Nuevo alimento </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                <div class="modal-body">
                    <%= form_for(@event) do |f| %>
                    <div class="field">
                      <%= f.label :food_id %>
                      <%= f.collection_select(:food_id, Food.all, :id, :name, {include_blank: true}, {id: "prueba",}) %>
                    </div>

                    <%= f.hidden_field :user_id, :value => user.id %>
                  </div>
                  <div class="modal-footer">
                    <%= f.submit "Enviar", class: "btn btn-primary" %>
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <% end %>
                    <div id="nombre">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--finmodal-->
        </div>
        <!--finrow-->
      </div>
      <!--fincardbody-->
    </div>
    <!--fincard-->
    <% end %>
    <!--finusuarios-->
    <div class="row p-2">
      <div class="col">
        <%= link_to 'Nuevo Usuario', new_user_path, class: "btn btn-primary" %>
      </div>
    </div>
  </div>
<% else %>
  <%= render'families/otro' %>
<% end %>
