<div class="container pt-4">
  <p id="notice"><%= notice %></p>
  <h1>Eventos</h1>
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col">Comidas</div>
        <div class="col">Usuarios</div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
      </div>
    </div>
  </div>
  <% @events.each do |event| %>
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-md col-sm-6"><%= event.food.name %></div>
          <div class="col-md col-sm-6"><%= event.user.name %></div>
          <div class="col"><%= link_to 'Ver', event, class: "btn btn-primary" %></div>
          <div class="col"><%= link_to 'Editar', edit_event_path(event), class: "btn btn-primary" %></div>
          <div class="col"><%= link_to 'Eliminar', event, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-primary" %></div>
        </div>
      </div>
    </div>
  <% end %>
</div>
