<%= form_with(model: food, local: true) do |form| %>
  <% if food.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(food.errors.count, "error") %> prohibited this food from being saved:</h2>

      <ul>
      <% food.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name, "Nombre" %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :protein, "Proteinas" %>
    <%= form.number_field :protein %>
  </div>

  <div class="field">
    <%= form.label :calorie, "Calorias" %>
    <%= form.number_field :calorie %>
  </div>

  <div class="field">
    <%= form.label :carbohydrate, "Carbohidratos" %>
    <%= form.number_field :carbohydrate %>
  </div>

  <div class="field">
    <%= form.label :photo, "Foto" %>
    <%= form.file_field :photo %>
  </div>


  <div class="actions">
    <%= form.submit "Enviar", class: "btn btn-primary" %>
  </div>
<% end %>
