<p id="notice"><%= notice %></p>
<div class="container">


<h1>Comidas</h1>

<div class="card">
  <div class="card-body">
    <div class="row">
        <div class="col-lg-2 col-md-12">Foto</div>
        <div class="col-lg-3 col-md-12">Nombre</div>
        <div class="col-lg-5 col-md-12">Porción</div>
        <div class="col-lg-2 col-md-12">Ver</div>
    </div>
    </div>
    </div>




    <% @foods.each do |food| %>
        <div class="card">
          <div class="card-body">
            <div class="row">
        <div class="col-lg-2 col-md-12"><img src="<%= food.photo.thumb %>"></div>
        <div class="col-lg-3 col-md-12"><strong>Nombre:</strong> <%= food.name %><br>
          <strong>Proteinas:</strong> <%= food.protein %>gr<br>
          <strong>Calorias:</strong> <%= food.calorie %>gr<br>
          <strong>Carbohidratos:</strong> <%= food.carbohydrate %>gr
        </div>
        <div class="col-lg-5 col-md-12"><%= food.description %></div>
        <div class="col-lg-2 col-md-12"><%= link_to 'Ver', food, class: "btn btn-primary"%></div>
  </div>
    </div>
      </div>
    <% end %>





</div>
