<p id="notice"><%= notice %></p>
<div class="container">


<h1>Foods</h1>

<div class="card">
  <div class="card-body">
    <div class="row">
        <div class="col">Photo</div>
        <div class="col">Name</div>
        <div class="col">Protein</div>
        <div class="col">Calorie</div>
        <div class="col">Carbohydrate</div>
        <div class="col">Portion</div>
        <div class="col">Show</div>
        <div class="col">Edit</div>
        <div class="col">Destroy</div>
    </div>
    </div>
    </div>




    <% @foods.each do |food| %>
        <div class="card">
          <div class="card-body">
            <div class="row">
        <div class="col"><img src="<%= food.photo.thumb %>"></div>
        <div class="col"><%= food.name %></div>
        <div class="col"><%= food.protein %></div>
        <div class="col"><%= food.calorie %></div>
        <div class="col"><%= food.carbohydrate %></div>
        <div class="col"><%= food.portion %></div>
        <div class="col"><%= link_to 'Show', food %></div>
        <div class="col"><%= link_to 'Edit', edit_food_path(food) %></div>
        <div class="col"><%= link_to 'Destroy', food, method: :delete, data: { confirm: 'Are you sure?' } %></div>
  </div>
    </div>
      </div>
    <% end %>




<%= link_to 'New Food', new_food_path %>

</div>
