<p id="notice"><%= notice %></p>
<div class="container">


<h1>Comidas</h1>

<div class="card">
  <div class="card-body">
    <div class="row">
        <div class="col">Foto</div>
        <div class="col">Nombre</div>
        <div class="col">Proteinas</div>
        <div class="col">Calorias</div>
        <div class="col">Carbohidratos</div>
        <div class="col">Ver</div>
        <div class="col">Editar</div>
        <div class="col">Eliminar</div>
    </div>
    </div>
    </div>




    <% @foods.each do |food| %>
        <div class="card">
          <div class="card-body">
            <div class="row">
        <div class="col"><img src="<%= food.photo.thumb %>"></div>
        <div class="col"><%= food.name %></div>
        <div class="col"><%= food.protein %></div>
        <div class="col"><%= food.calorie %></div>
        <div class="col"><%= food.carbohydrate %></div>
        <div class="col"><%= link_to 'Ver', food, class: "btn btn-primary"%></div>
        <div class="col"><%= link_to 'Editar', edit_food_path(food), class: "btn btn-primary"%></div>
        <div class="col"><%= link_to 'Eliminar', food, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-primary"%></div>
  </div>
    </div>
      </div>
    <% end %>




<%= link_to 'New Food', new_food_path %>

</div>
