<div class="container pt-4">
<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @food.name %>
</p>


<p>
  <strong>Proteinas:</strong>
  <%= @food.protein %>
</p>

<p>
  <strong>Calorias:</strong>
  <%= @food.calorie %>
</p>

<p>
  <strong>Carbohidratos:</strong>
  <%= @food.carbohydrate %>
</p>

<p>
  <strong>Foto:</strong>
  <%= @food.photo %>
</p>
<p>
  <strong>Descripción:</strong>
  <%= @food.description %>
</p>

<%= link_to 'Editar', edit_food_path(@food) %> |
<%= link_to 'Volver', foods_path %>
</div>
